<!DOCTYPE html>
<html lang="en">
    {{- partial "head" . -}}
    <body>
        {{- partial "header" . -}}
        <main> {{- block "main" . }} {{- end}} </main>
        {{- partial "footer" . -}}
    </body>
</html>