<div class="mt-4">
  <div class="text-2xl">{{ .Key }}</div>
  {{- range .Pages -}} {{- if eq .Params.type "post" -}}
  <div class="flex justify-between">
    {{- if (and (and (isset .Params "project") (isset .Params "version")) (isset .Params "patch")) -}}
    <a href="{{ .RelPermalink }}">{{ .Params.project }}@{{.Params.version}}.{{.Params.patch}}: {{ .Title }}</a>
    {{- else -}}
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    {{- end -}}
    <span>{{ dateFormat "January 2, 2006" .Date }}</span>
  </div>
  {{- end -}} {{- end -}}
</div>
